@charset "utf-8";
/* CSS Document */

/*Fourth Css*/
.akeyCss {
	width:50px;
	height:50px;
	line-height:48px;
	border:0px solid #ff7300;
	margin-left:5px;
	margin-top:5px;
	text-align:center;
	vertical-align: middle;
	font-family: 'McLaren-Regular';
	font-size: 34px;
	color: #322B43;
	font-weight: normal;
	border-radius:5px;
	background-color:#8ac800;
	border:0px solid #000;
	cursor:pointer;
	
}
.apadcss {
	position: absolute;
	display: none;
	background-color: rgb(201, 236, 140);
	z-index: 3000;
	border-radius: 10px;
	
}

#absbtn {
position: absolute;
border: 0px solid rgb(0, 0, 255);
border-radius: 5px 5px 5px 5px;
width: 55px;
height: 55px;
left: 114px;
top: 169px;
cursor: default;
background-color: rgb(201, 236, 140);
background-position: -1030px -394px;
}

#aclsbtn {
position: absolute;
border: 0px solid rgb(0, 0, 255);
border-radius: 5px 5px 5px 5px;
width: 25px;
height: 24px;
left: 164px;
top: -16px;
cursor: default;

background-position: -1045px -365px;

}

.aninepadCss {
	font-size: 34px!important;
	width:105px;
}


/*End of Css*/


.sprite1 {
	background-image: url('../images/sprite02.png');
	background-color: transparent;
	background-repeat: no-repeat;
	}