@font-face{font-family:'GillSansInfant'; src:url(../fonts/font/gilsbbd.ttf)}









/* NAV */
.contentFeedback{
	width: 1024px;
	height: 65px;
	/*background-color: rgba(47,47,47,0.5);*/
	position: absolute;
	bottom: 0;
	overflow: hidden;
    border: 0px solid #000;
	z-index:500;
}

.btFeedback,.btInfo,.btReset{
	float: right;
	width: 34px;
	height: 34px;
	cursor: pointer;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-background:<background>;
}


.btReset{margin-right: 50px;opacity: 1;}
.icoReset{cursor: default;background-image: url('../images/btResetOn@2x.png'); background-repeat: no-repeat;opacity: 0.5;}

.icoResetMove{
	-webkit-animation: reset 1s;
}

@-webkit-keyframes reset {
	0%{
		-webkit-transform: rotate(0deg);
		background-image: url('../images/btResetOn@2x.png');
	}
	50%{
		
		background-image: url('../images/btResetOff@2x.png');
		
	}
	100%{
		-webkit-transform: rotate(-360deg);
		background-image: url('../images/btResetOn@2x.png');
	}
}

.btInfo,.btFeedback{margin-right: 17px;}


.icoReset,.icoFeed{
	background-position: center center;
	background-size: 100%;
	width: 35px;
	height: 37px;
}
.icoInfo{
	width: 32px;
	height: 35px;
	background-position: center center;
	background-size: 100%;
	
}

.icoInfo{background-image: url('../images/btInfoOn@2x.png');background-repeat:no-repeat;}
.icoInfoMove{background-image: url('../images/btInfoOff@2x.png');background-repeat:no-repeat;}

.icoFeed{cursor: default;background-image: url('../images/btFeedOff@2x.png');background-repeat:no-repeat;}
.icoFeedMove{cursor: pointer;background-image: url('../images/btFeedOn@2x.png');background-repeat:no-repeat; }

.score{
	float: right;
	height: 34px;
	width: 130px;
	border-radius: 20px;
	background-color: rgba(27,27,27,0.2);
	overflow: hidden;
	margin-right: 12px;
	display: none;
}

#contCorrect,#contIncorrect{
	width: 49%;
	height: 100%;
	/*background-color: yellow;*/
	float: left;
	text-align: center;
	vertical-align: middle;
	font-family: 'GillSans-Light';
	font-size: 18px;
	padding-top: 7px;
}

/*in case you have a lighter background you need to use this color : #177100; for #contCorrect and color: #923e3e; for #contIncorrect*/
#contCorrect{
	border-right: 1px solid rgba(0,0,0,0.3);
        color: #33ff00;
        }
#contIncorrect{
	color: #ffcbcb;
}

#contCorrect img{
	width: 17px;
	height: 18px;
}
#contIncorrect img{
	width: 15px;
	height: 17px;
}

.score div img{
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -5px;
}

#contCorrect,#contIncorrect{
	width: 49%;
	height: 100%;
	/*background-color: yellow;*/
	float: left;
	text-align: center;
	vertical-align: middle;
	font-family: 'GillSans-Light';
	font-size: 18px;
	padding-top: 7px;
}

/*in case you have a lighter background you need to use this color : #177100; for #contCorrect and color: #923e3e; for #contIncorrect*/
#contCorrect{
	border-right: 1px solid rgba(0,0,0,0.3);
        color: #33ff00;
        }
#contIncorrect{
	color: #ffcbcb;
}

#contCorrect img{
	width: 17px;
	height: 18px;
}
#contIncorrect img{
	width: 15px;
	height: 17px;
}

.score div img{
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -5px;
}


.promp{
    position: absolute;
    top: 33%;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 40%;
    padding: 1%;
    padding-left: 2.3%;
    height: 15%;
    border: 1px solid #000;
    z-index: 5000;
    color: #fff;
    font-size:20px;	
    background-color: #374938;
    border: 3px solid #B2D893;
    border-radius: 10px;
    display:none;
}

.txt1{
    /*font-family:GillSansInfant;*/
    text-align: center;
    margin-top:5%;
    margin-left:20%;
    width: 20%;
    height:40%;
    border-radius: 5px;
    font-size:20px;
    
}

input:focus
{
/*background:-webkit-radial-gradient(center,linear farthest-side,#f9c222 0,#fcdd84 100%);*/
background-image: -webkit-radial-gradient(left, rgba(200, 219, 182, 0.99), #ccc); 

}
#imgPos
{
    vertical-align: middle;
}

#containDiv
{
width:995px;
height:601px;
margin-top:30px;
border:0px solid black;
}

#quesDiv
{
	position:absolute;
	width:600px;
	height:600px;
	/*margin-top:30px;*/
	margin-left:30px;
	border-radius:5px;
	/*background:url(../images/quesbg.png) repeat;*/
}

.ques
{
	position:absolute;
	width:500px;
	height:70px;
	margin-left:55px;
	border-radius:5px;
	/*background:#4FAAC9;*/
	text-align:center;
	font-size:25px;
	line-height:35px;
	background: #b2e1ff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #b2e1ff 0%,#66b6fc 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

#ansDiv
{
	position:absolute;
	width:180px;
	height:600px;
	/*margin-top:30px;*/
	margin-left:595px;
	border-radius:5px;
	/*background:url(../images/quesbg.png) repeat;*/
}

.ans
{
	position:absolute;
	width:120px;
	height:70px;
	margin-left:30px;
	border:dashed 2px rgba(255, 255, 255, 0.34);;
	border-radius:5px;
	/*background:#000000;
	opacity:0.1;*/
	background:rgba(0, 0, 0, 0.13);
}

#optionDiv
{
	position:absolute;
	width:180px;
	height:600px;
	/*margin-top:30px;*/
	margin-left:815px;
	border-radius:5px;
	background:url(../images/quesbg.png) repeat;
	/*background:#006666;*/
}

.option
{
	/*position:absolute;*/
	
	width:120px;
	height:70px;
	/*margin-left:30px;*/
	line-height:65px;
	text-align:center;
	font-size:25px;
	border-radius:5px;
	border:solid 0px yellow;
	/*background:#C2C2B2;*/
	 background: #fceabb; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #fceabb 0%, #fbdf93 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fceabb), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #fceabb 0%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #fceabb 0%,#fbdf93 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #fceabb 0%,#fbdf93 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #fceabb 0%,#fbdf93 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}