#title{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 1004px;
    height: 30px;
    font-size: 30px;
    color: #000;
    text-align: center;
    margin: auto;
}
#tableContainer{
    position: absolute;
    top: 50px;
    left: -50px;
    width: 1004px;
    height: 585px;
    margin: auto;
    /*background-color: rgba(200, 219, 182, 0.99);
    box-shadow: rgba(0, 0, 30, 0.51) 0px 2px 8px 5px;*/
    padding:20px 10px 10px 0px;
}
.mainTable{
    border-collapse: collapse;
    font-weight: bold;
    font-size: 22px;
    margin-left: 200px !important;
}
.mainTable.gk, .mainTable.g1{
    font-size: 30px;
}

.mainTable td{
    background-color: rgba(255,255,255, 1);
}
.mainTable tr:first-child td{
    background-color: rgba(221,217,194, 1);
}
.mainTable .separator{
    background-color: rgba(255,255,255, 1) !important;
    width: 20px;
    font-size: 20px;
}

.mainTable .downPlaceValue{
    background-color: rgba(218,228,241, 1) !important;
}
.mainTable td{
    border: 1px solid #000;
    min-width: 45px;
    max-width: 120px;
    height: 65px;
    text-align: center;
}
.mainTable td input[type="text"]{
    width: 100%;
    height: 100%;
    border: 0px;
    color: #000;
    text-align: center;
    font-size: 22px;
    /*font-weight: bold;*/
    background: transparent !important;
    -webkit-appearance:none;
}
.mainTable.gk td input, .mainTable.g1 td input{
    width: 100%;
    height: 100%;
    border: 0px;
    color: #000;
    text-align: center;
    font-family: 'McLarenRegular';
    font-size: 30px;
    /*font-weight: bold;*/
    background: transparent !important;
    -webkit-appearance:none;
}

.mainTable .removeColumn, .mainTable .removeColumnHead{
    background-color: rgba(255,255,255, 0) !important;
    border: 0px;
    text-align: center;
    width: 30px;
}

.thou{
  /*background-color: rgb(230,220,161) !important;*/
  background-color: rgb(236,217,115) !important;
}
.tenThou{
  background-color: rgb(236,217,115) !important;
}
.hunThou{
  /*background-color: rgb(242,217,81) !important;*/
  background-color: rgb(236,217,115) !important;
}
.millions{
  background-color: rgb(255,169,90) !important;
}


#features{
    position: absolute;
    top: 60px;
    left: 830px;
}
#controls{
    text-align: center;
    margin-top: 20px;
    margin-left: 476px;
}
#controls td{
    /*width: 80px;*/
}
#upBtn div{
    width: 20px;
    height: 20px;
    background-image: url("../images/arrowBlack.png");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    pointer-events:none;
}
#downBtn div{
    width: 20px;
    height: 20px;
    background-image: url("../images/arrowBlack.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events:none;
}
#addBtn{
    width: auto;
    text-align: center;
    padding: 8px 15px;
    margin: auto;
    border: 2px solid #FFF;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    background-image: -webkit-linear-gradient(top,rgb(255, 242, 96) 0,rgb(225, 181, 22) 100%);
    float: left;
    margin-right: 10px; 
}
#upBtn, #downBtn{
    width: auto;
    text-align: center;
    padding: 12px 12px;
    margin: auto;
    border: 2px solid #FFF;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    background-image: -webkit-linear-gradient(top,rgb(255, 242, 96) 0,rgb(225, 181, 22) 100%);
    float: left;
    margin-right: 10px; 
}

#removeBtn{
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    padding: 8px 8px;
    border: 2px solid #FFF;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top,rgb(255, 242, 96) 0,rgb(225, 181, 22) 100%);
}
.enabled{
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: rgb(255, 254, 210);
}
#measureBtn {
top: 640px;
left: 70px;
background-image: -webkit-linear-gradient(top, rgb(247, 231, 0) 0, rgb(247, 157, 0) 100%);
border-radius: 10px;
border: 3px solid rgb(26, 70, 69);
font-weight: bold;
position: absolute;
padding: 5px;
width: 150px;
height: 38px;
cursor: pointer;
text-align: center;
z-index: 100;
}
#measurePanel {
display: none;
position: absolute;
top: 350px;
left: 15px;
width: 240px;
height: 263px;
background: rgb(55, 73, 56);
color: rgb(255, 255, 255);
padding: 10px;
z-index: 101;
border: 4px solid rgb(158, 214, 86);
border-radius: 18px;
}
#measureCloseBtn {
position: absolute;
width: 25px;
height: 25px;
top: -12px;
right: -10px;
background: url(../images/closeBtn30.png) no-repeat;
background-size: contain;
}
#measurePanelHolder{
    position: absolute;
    left: 0px;
    top: 12px;
    width: 1014px;
    height: 620px;
}
.keypadContainer{
    top: 160px;
    left: 70px;
}
.handle{
    position: absolute;
}
.handle div{
    position: absolute;
    left: -20px;
    width: 19px;
    top: 25px;
    border: 1px solid #000;
}
.handle div input{
    position: absolute;
    left: -1px;
    top: -6px;
    background-color: #fff;
}
 